<table class="center">
    <tr>
        <th>Attacks</th>
        <th>Damage per Atk</th>
        <th>Dmg Type</th>
        <th>Uses</th>
    </tr>
    <tr>
        <td><input class="mediumInput" type="text" name="system.numberOfAttacks" value="{{system.numberOfAttacks}}" data-dtype="Number" /></td>
        <td><input class="mediumInput" type="text" name="system.damagePerAttack" value="{{system.damagePerAttack}}" /></td>
        <td>
            <select style="width:100%; text-align:center;" name="system.damageType">
                {{#select system.damageType}}
                {{#each config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td><input class="smallInput" type="text" name="system.capacity.value" value="{{system.capacity.value}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <th>Actions To Atk</th>
        <th></th>
        <th>Handedness</th>
        <th>Max Uses</th>
    </tr>
    <tr>
        <td><input class="mediumInput" type="text" name="system.actionsToUse" value="{{system.actionsToUse}}" data-dtype="Number" /></td>
        <td></td>
        <td><input type="text" name="system.handedness" value="{{system.handedness}}" /></td>
        <td><input class="smallInput" type="text" name="system.capacity.max" value="{{system.capacity.max}}" data-dtype="Number" /></td>
    </tr>
    <tr>
        <th>Atk Bonus</th>
        <th colspan="2">Properties</th>
        <th>AP</th>
    </tr>
    <tr>
        <td><input class="mediumInput" type="text" name="system.attackBonus" value="{{system.attackBonus}}" data-dtype="Number" /></td>
        <td colspan="2"><input type="text" name="system.properties" value="{{system.properties}}" /></td>
        <td><input class="smallInput" type="text" name="system.armorPenetration" value="{{system.armorPenetration}}" data-dtype="Number" /></td>
    </tr>
</table>