<div class="section">
    <div>
        <p class="floatLeft"><b><u>Abilities</u></b></p>
        <p class="floatRight">
            <a class="item-create" data-type="ability" title="New"><i class="fas fa-plus"></i></a>
            <a class="item-import" title="Add from compendium"><i class="fas fa-folder-plus"></i></a>
        </p>
    </div>
    {{#if abilities}}
        <table class="item-list">
            <tr>
                <th>Ability</th>
                <th>Actions</th>
                <th>Uses</th>
                <th>Max</th>
                <th>Power cost</th>
                <th></th>
            </tr>
            {{#each abilities as |item id|}}
                <tr class="item center" data-item-id="{{item._id}}">
                    <td class="left">
                        <div class="flexCenter">
                            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                            <div style="margin-left: 5px"><a class="item-display">{{item.name}}</a></div>
                        </div>
                    </td>
                    <td>{{#if item.system.actionsToUse}}{{item.system.actionsToUse}} action(s){{/if}}</td>
                    <td>{{#if item.system.capacity.value}}
                            <input
                                class="smallInput inline-edit"
                                data-field="system.capacity.value"
                                type="text"
                                value="{{item.system.capacity.value}}"
                                data-dtype="Number"
                            />
                        {{/if}}</td>
                    <td>{{#if item.system.capacity.max}}{{item.system.capacity.max}}{{/if}}</td>
                    <td>{{#if item.system.powerCost}}{{item.system.powerCost}}{{/if}}</td>
                    <td class="floatRight">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>
