<section class="items weapons flexcol">
  {{!-- Header row, mirroring the contents of an item list element --}}
  <header class="item-list-header flexrow">
    <div class="name">{{localize inventory.weapons.label}}</div>
    <div class="use"></div>
    <div class="actions">ATF</div>
    <div class="attack-bonus">Atk B.</div>
    <div class="damage">Damage</div>
    <div class="ammo">Ammo</div>
    <div class="item-controls flexrow">
      <a class="item-create" data-type="{{inventory.weapons.type}}" data-tooltip="Create"><i class="fas fa-plus"></i></a>
      <a class="item-import" data-tooltip="OH.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
    </div>
  </header>

  <ol class="item-list">
    {{#each inventory.weapons.items as |item id|}}
      {{!-- Each individual item's list element --}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        {{!-- Name and icon block; TODO: display chat card on click --}}
        <div class="name flexrow">
          <img class="icon" src="{{item.img}}" title="{{item.name}}"/>
          <span>{{item.name}}</span>
        </div>

        {{!-- Use link for weapon attacks --}}
        <div class="use">
          <a class="use-weapon" data-tooltip="OH.Attack">
            {{#if (eq item.system.weaponType "ranged")}}<i class="fas fa-gun"></i>{{/if}}
            {{#if (eq item.system.weaponType "melee")}}<i class="fas fa-sword"></i>{{/if}}
          </a>
        </div>

        <div class="actions">{{#if item.system.actionsToUse}}{{item.system.actionsToUse}}{{/if}}</div>

        <div class="attack-bonus">
          {{#if (eq item.system.weaponType "ranged")}}{{sum @root.system.aim item.system.attackBonus}}{{/if}}
          {{#if (eq item.system.weaponType "melee")}}{{sum @root.system.melee item.system.attackBonus}}{{/if}}
        </div>

        <div class="damage">
          {{#if item.system.damagePerAttack}}{{item.system.numberOfAttacks}} × {{item.system.damagePerAttack}} {{item.system.damageType}}{{/if}}
        </div>

        {{!-- Ammo/capacity handling, including reload action --}}
        <div class="ammo flexrow">
          <div class="reload">
            {{#if item.document.canReload}}
              <a data-tooltip="OH.Reload"><img class="icon" src="systems/outerheaven/icons/machine-gun-magazine.svg"></i></a>
            {{/if}}
          </div>
          <input type="number" value={{item.document.system.capacity.value}} step="1" min="0" max="{{item.system.capacity.max}}" data-field="system.capacity.value" class="inline-edit"/>
          {{#if item.system.capacity.max}}<span class="capacity-max"> / {{item.system.capacity.max}}</span>{{/if}}
        </div>

        {{!-- Common item controls --}}
        <div class="item-controls">
          <a class="item-edit" data-tooltip="OH.Edit"><i class="fas fa-edit"></i></a>
          <a class="item-delete" data-tooltip="OH.Delete"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</section>
