<section class="items defenses flexcol">
    <header class="item-list-header flexrow">
        <div class="name">{{localize label}}</div>
        <div class="armor">{{localize "OH.Armor"}}</div>
        <div class="benefits">{{localize "OH.Benefits"}}</div>
        <div class="item-controls flexrow">
            <a class="item-create" data-type="{{type}}" data-tooltip="{{localize "OH.Create"}}"><i class="fas fa-plus"></i></a>
            <a class="item-import" data-tooltip="OH.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
        </div>
    </header>

    <ol class="item-list">
        {{#each items as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="name flexrow">
                    <img class="icon" src="{{item.img}}" title="{{item.name}}"/>
                    <span>{{item.name}}</span>
                </div>

                <div class="armor">{{#if item.armorBonusString}}{{item.armorBonusString}}{{/if}}</div>

                <div class="benefits">
                    {{#if item.system.benefitsDescription}}
                        <span class="descMaxLength">{{item.system.benefitsDescription}}</span>
                    {{/if}}
                </div>

                <div class="item-controls">
                    <a class="item-edit" data-tooltip="OH.Edit"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" data-tooltip="OH.Delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
</section>
