<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>

    {{! Navigation }}
    <nav class="sheet-tabs tabs" data-group="main" aria-role="Form Tab Navigation">
        <a class="item" data-tab="details">{{localize "OH.Details"}}</a>
        <a class="item" data-tab="effects">{{localize "OH.Effects"}}</a>
    </nav>

    <section class="content">
        {{! Description tab }}
        <div class="tab" data-group="main" data-tab="details">
            <div class="itemSection">
                <table class="center">
                    <tr>
                        <th>Actions to Use</th>
                        <th>Uses</th>
                        <th>Max Uses</th>
                        <th>Power Cost</th>
                    </tr>
                    <tr>
                        <td>
                            <input
                                class="mediumInput"
                                type="text"
                                name="system.actionsToUse"
                                value="{{system.actionsToUse}}"
                            />
                        </td>
                        <td>
                            <input
                                class="mediumInput"
                                type="text"
                                name="system.capacity.value"
                                value="{{system.capacity.value}}"
                            />
                        </td>
                        <td>
                            <input
                                class="mediumInput"
                                type="text"
                                name="system.capacity.max"
                                value="{{system.capacity.max}}"
                            />
                        </td>
                        <td>
                            <input
                                class="mediumInput"
                                type="text"
                                name="system.powerCost"
                                value="{{system.powerCost}}"
                            />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="itemSection description">
                {{editor
                    description
                    target="system.description"
                    button=true
                    engine="prosemirror"
                    owner=owner
                    editable=editable
                }}
            </div>

            <div class="itemSection">
                <p class="floatLeft">
                    Tags :
                    <input class="mediumInput" type="text" name="system.tags" value="{{system.tags}}" />
                </p>
                <p class="floatRight">
                    Point cost : <input class="smallInput" type="text" name="system.pointCost" value="{{system.pointCost}}" />
                    Ignore cost : <input class="vCenter" type="checkbox" name="system.ignoreCost" {{checked system.ignoreCost}} />
                </p>
            </div>
        </div>

        {{! Effects tab }}
        <div class="tab" data-group="main" data-tab="effects">
            {{>"oh.item-effects" }}
        </div>
    </section>
</form>
