<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <div class="itemSection">
            <select class="floatLeft" name="system.weaponType">
                {{selectOptions config.weaponTypes selected=system.weaponType}}
            </select>
            <div class="floatRight">Power cost : <input class="smallInput" type="text" name="system.powerCost" value="{{system.powerCost}}" data-dtype="Number" /></div>
            <br />
        </div>
        <div class="itemSection">
            {{#if (eq system.weaponType "ranged")}}
            {{> "oh.ranged-block"}}
            {{/if}}
            {{#if (eq system.weaponType "melee")}}
            {{> "oh.melee-block"}}
            {{/if}}
        </div>
        <div class="itemSection">
            {{editor description target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
        </div>
        <div>
            <p class="floatLeft">
                Tags : <input class="mediumInput" type="text" name="system.tags" value="{{system.tags}}" />
            </p>
            <p class="floatRight">
                Point cost : <input class="smallInput" type="text" name="system.pointCost" value="{{system.pointCost}}" data-dtype="Number" />
                Ignore cost : <input class="vCenter" type="checkbox" name="system.ignoreCost" {{checked system.ignoreCost}} />
            </p>
        </div>
    </div>
</form>
