<div>
    <table>
        <tr>
            <th><button class="displayDefenses">Show</button></th>
            <th>Total</th>
            <th>Base</th>
            <th>Stance</th>
            <th>Misc</th>
        </tr>
        <tr>
            <th>Profile :</th>
            <th><input class="smallInput" type="text" name="system.profile.total" value="{{system.profile.total}}" data-dtype="Number" disabled/> =</th>
            <th><input class="smallInput" type="text" name="system.profile.base" value="{{system.profile.base}}" data-dtype="Number" /></th>
            <th>+ <input class="smallInput" type="text" name="system.profile.stanceBonus" value="{{system.profile.stanceBonus}}" data-dtype="Number" disabled/></th>
            <th>+ <input class="smallInput" type="text" name="system.profile.miscBonus" value="{{system.profile.miscBonus}}" data-dtype="Number" /></th>
        </tr>
        <tr>
            <th>Defense :</th>
            <th><input class="smallInput" type="text" name="system.defense.total" value="{{system.defense.total}}" data-dtype="Number" disabled/> =</th>
            <th><input class="smallInput" type="text" name="system.defense.base" value="{{system.defense.base}}" data-dtype="Number" /></th>
            <th>+ <input class="smallInput" type="text" name="system.defense.stanceBonus" value="{{system.defense.stanceBonus}}" data-dtype="Number" disabled/></th>
            <th>+ <input class="smallInput" type="text" name="system.defense.miscBonus" value="{{system.defense.miscBonus}}" data-dtype="Number" /></th>
        </tr>
    </table>
    <table>
            <th>Grit : <input class="smallInput" type="text" name="system.saves.grit" value="{{system.saves.grit}}" /></th>
            <th>Awareness : <input class="smallInput" type="text" name="system.saves.awareness" value="{{system.saves.awareness}}" /></th>
            <th>Morale : <input class="smallInput" type="text" name="system.saves.morale" value="{{system.saves.morale}}" /></th>
    </table>
</div>