<div class="chatMessage">
    <h2>{{name}} - Defenses</h2>
    <table class="center">
        <tr>
            <td>Profile</td>
            <td>{{system.profile.total}}</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>{{system.defense.total}}</td>
        </tr>
        <tr>
            <td>Armor</td>
            <td>{{system.armor}}</td>
        </tr>
    </table>
    <table class="center">
        <tr>
            <th colspan="3">Saves</th>
        </tr>
        <tr>
            <td>Grit</td>
            <td>Awareness</td>
            <td>Morale</td>
        </tr>
        <tr>
            <td>{{system.saves.grit}}</td>
            <td>{{system.saves.awareness}}</td>
            <td>{{system.saves.morale}}</td>
        </tr>
    </table>
</div>